<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th ng-repeat="col in ctrl.data.xAxis.categories">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="row in ctrl.data.series"
      ng-click="ctrl.onSelectRow({$index: $index, $item: row})"
      ng-class="{'warning': $index === ctrl.activeIndex}" >
      <th scope="row" style="color: {{row.color}}">
        {{row.name}}
      </th>
      <td ng-repeat="val in row.data">{{val}}</td>
    </tr>
  </tbody>
</table>
