<div class="masthead">
 <h3 class="text-muted">Angular CodeLab</h3>
 <nav>
   <ul class="nav nav-justified">
     <li ng-class="{'active': ctrl.active === '/homepage'}"><a href="#/homepage">Homepage</a></li>
     <li ng-class="{'active': ctrl.active === '/news'}"><a href="#/news">News</a></li>
     <li ng-class="{'active': ctrl.active === '/reports'}"><a href="#/reports">Reports</a></li>
     <li ng-class="{'active': ctrl.active === '/contacts'}"><a href="#/contacts">Contacts</a></li>
   </ul>
 </nav>
</div>
